    .p2{
    background-color:#c8b1e7;
    padding:10px 15px 10px 15px;
    margin-bottom:0px;
    border:solid 2px #6aa57a
    border-radius:10px;
    color:black;
}
    .content{
    background-color:#ffec75;
    padding:10px 15px 10px 15px;
    margin-left:30px;
    margin-right:30px;
}


