    .p1{
        background-color:#d6c4ee;
        padding:10px 15px 10px 15px;
        margin-bottom:0px;
        border:solid 2px #6aa57a
        border-radius:10px;
    }
    .content{
        background-color:#ffec75;
        padding:10px 15px 10px 15px;
        margin-left:30px;
        margin-right:30px;
    }


